/* Landscape phones and down */
@media (max-width: 480px) {

    #topHeader {
        width: 20vw;
    }

    header {
        height: 6vh;
    }

    header .container {
        display: flex;
        align-items: center;
        height: 6vh;
        margin: 0px;
        width: 50%;
    }

    header .logo {
        width: 100% !important;
        margin-right: 0px;
    }

    header nav ul {
        gap: 15px;
        font-size: 5px;
    }

    .book-apmt {
        font-size: 5px;
        margin-left: 10px;
    }

    #headerlinks {
        width: 50%;
    }

    .hero {
        background-attachment: local;
    }

    .welcome {
        font-size: 20px !important;
    }

    .hero-content {
        margin: 0;
        width: 71vw;
    }

    .hero-text-sub p {
        font-size: 14px;
    }

    .hero-text h1 {
        font-size: 35px;
    }

    .hero-content .button {
        width: 50%;
    }

    .about-info h2 {
        font-size: 30px !important;
    }

    .about-info p {
    font-size: 18px;
    padding: 0 15px;
    }

    #services > div > ul:nth-child(3) > li:nth-child(1) {
        margin-bottom: 10px;
    }
    body > main > section.split-container > div:nth-child(1) > div.split-left > div { margin-top: 100px;}
    #services h2 {
        font-size: 3rem;
    }

    .service-container {
        height: 100vh;
        width: 85%;
    }

    .service-container .button {
        width: 50%;
    }

    #services {
    }

    .split-row {
        flex-direction: column;
        margin-bottom: 100px;
    }

    .split-left {
        width: 100%;
    }

    .split-right {
        width: 100%;
    }

    .split-left p,
    .split-right p {
        padding: 0 30px;
    }

    body>main>section.split-container>div:nth-child(2),
    body>main>section.split-container>div:nth-child(4) {
        flex-direction: column-reverse;
    }

    #backonroad {
        background-attachment: local;
    }

    .section h2 {
        font-size: 3rem;
    }

    #testimonials h2 {
        font-size: 3rem;
    }

    #gallery {
        padding-bottom: 35px;
    }

    #gallery h2 {
        font-size: 3rem;
    }

    #gallery h4 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .slideflex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .sliderbody {
        height: 35vh;
    }

    .slidercontainer {
        width: 85vw;
        height: 30vh;
    }

    .slidercontainer .slider::-webkit-slider-thumb {
        height: 30vh;
    }

    .slider1 {
        width: 87vw;
    }

    .thumbnails {
        display: flex;
        margin-top: 10px;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .thumbnails img {
        margin: 1px;
    }

    #contact {}

    #contact h2 {
        font-size: 36px;
    }

    #hours {
        height: 35vh;
        padding: 10px 10px 72px 10px;
        width: 100%;
    }

    #hours h3 {
        font-size: 20px;

        margin: 0;
    }

    .hours-table th,
    .hours-table td {
        padding: 0px;
    }

    #contact-info {
        height: 40vh;
        padding: 10px;
        width: 100%;
    }

    #contact-info h3 {
        margin: 0;
        font-size: 20px;

    }

    .leftnright {
        flex-direction: column-reverse;
        margin-bottom: 60px;
    }

    .contact-info1A {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0 10px 25px 10px;
    }

    .contact-info1B {
        display: none;
    }

    .hours-info1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    #map p {
        font-size: 14px;
        margin: 5px;
    }

    #map {
        margin-bottom: 0px;
    }

    .footer-container1 {
        flex-direction: column;
    }

    .footer-container3 {
        flex-direction: column-reverse;
    }

    .footer-links {
        width: 100%;

    }

    .footer-contact {
        width: 100%;
    }

    .footer-logo img {
        width: 100%;
        padding: 0px;
    }

    .copyright {
        font-size: 11px;
        text-align: center;
    }

    #myBtn {
        right: 24vw;
        padding: 8px;

    }
}































/* Landscape phone to portrait tablet */
@media (max-width: 767px) {}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

    #topHeader {
        width: 20vw;
    }

    header {
        height: 6vh;
    }

    header .container {
        display: flex;
        align-items: center;
        height: 6vh;
        margin: 0px;
        width: 50%;
    }

    header .logo {
        width: 100% !important;
        margin-right: 0px;
    }

    header nav ul {
        gap: 15px;
        font-size: 5px;
    }


    .book-apmt {
        font-size: 5px;
        margin-left: 10px;
    }

    #headerlinks {
        width: 50%;
    }


    .hero-content {
        margin: 0;
        width: 50vw;
    }

    .hero-content h1 {
        font-size: 20px !important;
    }


    .hero-text h1 {
        font-size: 16px;
    }

    .hero-content .button {
        width: 50%;
    }

    .about-info h2 {
        font-size: 20px !important;
    }





}

/* Large desktop */
@media (min-width: 1200px) {}